/* footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(85, 0, 0);
    width: 100%;
    height: 100px;
    z-index: 200;
    padding: 5px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

footer div {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    color: white;
}

footer .useful-links {
    font-size: 20px;
    padding-left: 100px;
    color: #E89C1E;
}

.useful-links .link-redirect {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-right: 50px;
}

footer address {
    font-size: 20px;
    font-weight: bold;
    color: #E89C1E;
}


.contact-info {
    font-weight: 300;
}

.contact-info .contact-icon {
    color: #E89C1E;
}



 */
