<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PBL4</title>
  <link rel="stylesheet" type="text/css" href="../css/header.css">

</head>
<body>
  <header>
    <h2 class="logo">PBL4</h2>
    <nav class="navigation">
        <a href="home.html">Home</a>
        <a href="event_calendar.html">Lịch trình</a>
        <a href="#">P.P. Học</a>
        <a href="user_profile.html">Tài khoản</a>
        <button class="btnLogin-popup" onclick="login()">Đăng nhập</button>
    </nav>
  </header>
  <div class="background-image">

  </div>
  <!-- <div class="bottombar">
    <div class="useful-links">
        
        <a class="link-redirect" href="#>
            <ion-icon name="logo-facebook"></ion-icon>
        </a>

        <a class="link-redirect" href="#">
            <ion-icon name="logo-youtube"></ion-icon>
        </a>

        <a class="link-redirect" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
        </a>
        
    </div> -->
    <!-- <div class="contacts">

        Liên hệ với chúng tôi
        <div class="contact-info">
            <span class="contact-icon"><ion-icon name="location"></ion-icon></span>
            54 Nguyen Luong Bang St., Da Nang, Vietnam
        </div>

        <div class="contact-info">
            <span class="contact-icon"><ion-icon name="call"></ion-icon></span>
            +84 912345678
        </div>

        <div class="contact-info">
            <span class="contact-icon"><ion-icon name="mail"></ion-icon></span>
            pbl4@gmail.com
        </div>

    </div> -->

    
</div>


  <script src="../js/index.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
