<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PBL4 - Đăng ký</title>
    <link rel="stylesheet" href="/Student_Management/client/css/login_register.css">
</head>
<body>
    <div class="auth-container">
        <h2>Đăng ký</h2>
        <form id="registerForm">
            <div class="form-group">
                <label for="username">Tên đăng nhập</label>
                <input type="text" id="username" name="username" required>
            </div>
            <!-- <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div> -->
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" required>
            </div>
            <!-- <div class="form-group">
                <label for="confirmPassword">Nhập lại mật khẩu:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div> -->
            <button type="submit">Đăng ký</button>
            <p id="error-message" class="error-message"></p>
        </form>
        <p>Đã có tài khoản? <a href="/Student_Management/client/views/login.html">Đăng nhập</a></p>
    </div>
    <script src="/Student_Management/client/js/register.js"></script>
</body>
</html>
